.navbar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1a1a1d;

  .navbar-user-profile {
    display: flex;
    cursor: pointer;
    align-items: center;

    .user-profile-image {
      width: 35px;
      height: 35px;
      border-radius: 6px;
      background-color: $blue-500;
    }

    svg {
      color: #ffffff;
    }
  }
}
