.sidebar {
  width: 260px;
  padding: 12px;
  background-color: #eee;

  .sidebar-nav {
    display: flex;
    flex-direction: column;

    .sidebar-item {
      .sidebar-link {
        padding: 8px;
        display: flex;
        color: #000000;
        border-radius: 8px;
        align-items: center;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
          background-color: #2564eb88;
        }

        svg {
          font-size: 1.4rem;
          margin-right: 12px;
        }
      }
    }
  }
}
