@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap");

$blue-900: #1e3a8a;
$blue-800: #1e40af;
$blue-700: #1d4ed8;
$blue-600: #2563eb;
$blue-500: #3b82f6;
$blue-400: #60a5fa;
$blue-300: #93c5fd;
$blue-200: #bef3ff;
$blue-100: #eff9ff;

@import "./__reset.scss";
@import "./__login.scss";
@import "./_sidebar.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

input,
button {
  font-family: "Lexend Deca", sans-serif;
}

button {
  cursor: pointer;
}

.wrapper-page {
  display: flex;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  margin: 0 12px;
}
