@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap");

$blue-900: #1e3a8a;
$blue-800: #1e40af;
$blue-700: #1d4ed8;
$blue-600: #2563eb;
$blue-500: #3b82f6;
$blue-400: #60a5fa;
$blue-300: #93c5fd;
$blue-200: #bef3ff;
$blue-100: #eff9ff;

@import "./__reset.scss";
@import "./__home.scss";
@import "./__login.scss";
@import "./__table.scss";
@import "./__sidebar.scss";
@import "./__navbar.scss";
@import "./__form.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

input,
button {
  font-family: "Lexend Deca", sans-serif;
}

button {
  padding: 0px;
  cursor: pointer;
}

.display-grid {
  display: grid;
  grid-template-areas: "sidebar navbar" "sidebar content";
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;
}

.container {
  width: 100%;
  padding: 12px;
  grid-area: content;
}
